.StockRow .ticker-cell:hover {
  cursor: pointer;
}

.StockRow .open-option-cell {
  display: flex;
  justify-content: space-evenly;
}

.StockRow .open-options-container {
  position: relative;
}

.StockRow .open-option {
  height: 30px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StockRow .open-option-list {
  position: absolute;
  bottom: 35px;
  right: -30px;
  width: 150px;
  z-index: 1;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
