.ClosedStockTable {
  text-align: center;
  color: #d7ceb2;
  table-layout: fixed;
  width: 100%;
}

.ClosedStockTable th {
  background-color: #a59e8c;
  padding: 3px 10px;
}

.ClosedStockTable td {
  background-color: #66635b;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .ClosedStockTable {
    flex: 1;
  }
}
