.PortfolioOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  width: 100%;
}

.PortfolioOverview .stock-tables {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .PortfolioOverview {
    margin-top: 0;
  }

  .PortfolioOverview .stock-tables {
    flex-direction: row;
  }
}
