.StockTable {
  text-align: center;
  color: #d7ceb2;
  table-layout: fixed;
}

.StockTable th {
  background-color: #66635b;
  padding: 3px 10px;
}

.StockTable .ticker-cell {
  width: 12%;
}

.StockTable .options-cell {
  width: 35%;
}

.StockTable .cost-basis-cell {
  width: 20%;
}

.StockTable .cash-returns-cell {
  width: 20%;
}

.StockTable .returns-cell {
  width: 13%;
}

.StockTable td {
  background-color: #a59e8c;
  padding: 10px;
}
