.AnnualIncomeTable {
  text-align: center;
  color: #d7ceb2;
  width: 100%;
  margin-bottom: 5%;
}

.AnnualIncomeTable th {
  background-color: #66635b;
  padding: 3px 10px;
}

.AnnualIncomeTable td {
  background-color: #a59e8c;
  padding: 10px;
  width: 33%;
}
